<div class="content-section-b">

    <div class="container">

        <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><a name="about"></a>Made with care in Canada</h2>
                <p>Ariel Harlap, a passionate maker and admirer of nature, created Zooratura in Montreal in 2013. Ariel uses lasers and wood to bring to life the triumphs of form and symmetry found in nature and, specifically, draws inspiration from pre-20th century naturalists.</p>
            </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/arielharlap.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->